<div class="main top-main">
  <div class="top-message">
    <h1>ボタンを押して覚えよう！</h1>
    <p>プログラミングの読み方学習アプリ</p>
  </div>
  <div class="btn-wrapper">
    <a class="btn signup" href="/button"><span>Button</span>開始！</a>
    <%# <p>or sign up with</p>
    <a class="btn facebook" href="#">Facebookで登録</a>
    <a class="btn twitter" href="#">Twitterで登録</a> %>
  </div>
</div>