<div class="main posts-index">
  <div class="container">
    <h1 class="comyu">コミュニケーション</h1>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.content, "/posts/#{post.id}") %>
      </div>
    <% end %>  
  </div>
</div>
